extends ../layout

block css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/weadmin.css')

block content
    .weadmin-nav
        span.layui-breadcrumb
            a(href='') 首页
            a(href='') 管理员管理
            a
                cite 管理员列表
        a.layui-btn.layui-btn-sm(style='line-height:1.6em;margin-top:3px;float:right', href='javascript:location.replace(location.href);', title='刷新')
            i.layui-icon(style='line-height:30px') ဂ
    .weadmin-body
        .layui-row
            form.layui-form.layui-col-md12.we-search
                .layui-inline
                    input#start.layui-input(placeholder='开始日', name='start')
                .layui-inline
                    input#end.layui-input(placeholder='截止日', name='end')
                .layui-inline
                    input.layui-input(type='text', name='username', placeholder='请输入用户名', autocomplete='off')
                button.layui-btn(lay-submit='', lay-filter='sreach')
                    i.layui-icon 
        .weadmin-block
            button.layui-btn.layui-btn-danger(onclick='delAll()')
                i.layui-icon 
                | 批量删除
            button.layui-btn(onclick="WeAdminShow('添加用户','/admin/add')")
                i.layui-icon 
                | 添加
            span.fr(style='line-height:40px') 共有数据：88 条
        table.layui-table
            thead
                tr
                    th
                        .layui-unselect.header.layui-form-checkbox(lay-skin='primary')
                            i.layui-icon 
                    th ID
                    th 登录名
                    th 手机
                    th 邮箱
                    th 角色
                    th 加入时间
                    th 状态
                    th 操作
            tbody
                tr
                    td
                        .layui-unselect.layui-form-checkbox(lay-skin='primary', data-id='2')
                            i.layui-icon 
                    td 1
                    td admin
                    td 18925139194
                    td 113664000@qq.com
                    td 超级管理员
                    td 2017-01-01 11:11:42
                    td.td-status
                        span.layui-btn.layui-btn-normal.layui-btn-xs 已启用
                    td.td-manage
                        a(onclick="member_stop(this,'10001')", href='javascript:;', title='启用')
                            i.layui-icon 
                        a(title='编辑', onclick="WeAdminShow('编辑','/admin/edit')", href='javascript:;')
                            i.layui-icon 
                        a(title='删除', onclick="member_del(this,'要删除的id')", href='javascript:;')
                            i.layui-icon 
        .page
            div
                a.prev(href='') <<
                a.num(href='') 1
                span.current 2
                a.num(href='') 3
                a.num(href='') 489
                a.next(href='') >>

block js
    script(src='/lib/layui/layui.js', charset='utf-8')
    script(src='/js/eleDel.js', type='text/javascript', charset='utf-8')
