extends ../layout

block css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/weadmin.css')

block content
    .weadmin-body
        form.layui-form.layui-form-pane(action='', method='post')
            .layui-form-item
                label.layui-form-label(for='name')
                    span.we-red *
                    | 角色名
                .layui-input-inline
                    input#name.layui-input(type='text', name='name', required='', lay-verify='required', autocomplete='off')
            .layui-form-item.layui-form-text
                label.layui-form-label
                    | 拥有权限
                table.layui-table.layui-input-block
                    tbody
                        tr
                            td
                                | 用户管理
                                input(name='id[]', type='checkbox', value='2')
                            td
                                .layui-input-block
                                    input(name='id[]', type='checkbox', value='2')
                                    |  用户停用
                                    input(name='id[]', type='checkbox', value='2')
                                    |  用户删除
                                    input(name='id[]', type='checkbox', value='2')
                                    |  用户修改
                                    input(name='id[]', type='checkbox', value='2')
                                    |  用户改密
                                    input(name='id[]', type='checkbox', value='2')
                                    |  用户列表
                        tr
                            td
                                | 文章管理
                                input(name='id[]', type='checkbox', value='2')
                            td
                                .layui-input-block
                                    input(name='id[]', type='checkbox', value='2')
                                    |  文章添加
                                    input(name='id[]', type='checkbox', value='2')
                                    |  文章删除
                                    input(name='id[]', type='checkbox', value='2')
                                    |  文章修改
                                    input(name='id[]', type='checkbox', value='2')
                                    |  文章改密
                                    input(name='id[]', type='checkbox', value='2')
                                    |  文章列表
            .layui-form-item.layui-form-text
                label.layui-form-label(for='desc')
                    | 描述
                .layui-input-block
                    textarea#desc.layui-textarea(placeholder='请输入内容', name='desc')
            .layui-form-item
                button.layui-btn(lay-submit='', lay-filter='add') 增加

block js
    script(src='/lib/layui/layui.js', charset='utf-8')
    script(type='text/javascript').
        layui.extend({
            admin: '{/}../../js/admin'
        });
        layui.use(['form', 'layer', 'admin'], function () {
            var form = layui.form,
                admin = layui.admin,
                layer = layui.layer;
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("增加成功", {
                    icon: 6
                }, function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
            });
        });
