extends ../layout

block css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/weadmin.css')

block content
    .weadmin-body
        form.layui-form
            .layui-form-item
                label.layui-form-label(for='L_username')
                    span.we-red *
                    | 登录名
                .layui-input-inline
                    input#L_username.layui-input(type='text', name='username', lay-verify='required|nikename', autocomplete='off')
                .layui-form-mid.layui-word-aux
                    | 请设置至少5个字符，将会成为您唯一的登录名
            .layui-form-item
                label.layui-form-label(for='L_sex') 性别
                #L_sex.layui-input-block
                    input(type='radio', name='sex', value='男', title='男', checked='')
                    input(type='radio', name='sex', value='女', title='女')
                    input(type='radio', name='sex', value='未知', title='未知')
            .layui-form-item
                label.layui-form-label(for='L_email')
                    span.we-red *
                    | 手机
                .layui-input-inline
                    input#L_phone.layui-input(type='text', name='phone', lay-verify='required|phone', autocomplete='')
            .layui-form-item
                label.layui-form-label(for='L_email')
                    span.we-red *
                    | 邮箱
                .layui-input-inline
                    input#L_email.layui-input(type='text', name='email', lay-verify='email', autocomplete='off')
            .layui-form-item
                label.layui-form-label(for='L_address')
                    span.we-red
                    | 地址
                .layui-input-inline
                    input#L_address.layui-input(type='text', name='address', autocomplete='off')
            .layui-form-item
                label.layui-form-label(for='L_pass')
                    span.we-red *
                    | 密码
                .layui-input-inline
                    input#L_pass.layui-input(type='password', name='pass', autocomplete='off')
                .layui-form-mid.layui-word-aux
                    | 6到16个字符
            .layui-form-item
                label.layui-form-label(for='L_repass')
                    span.we-red *
                    | 确认密码
                .layui-input-inline
                    input#L_repass.layui-input(type='password', name='repass', autocomplete='off')
            .layui-form-item
                label.layui-form-label(for='L_repass')
                button.layui-btn(lay-filter='add', lay-submit='') 确定
                input#dataId(type='hidden', name='dataId', value='')

block js
    script(src='/lib/layui/layui.js', charset='utf-8')
    script(type='text/javascript').
        layui.extend({
            admin: '{/}../../js/admin'
        });
        layui.use(['form', 'jquery', 'admin', 'layer'], function () {
            var form = layui.form,
                $ = layui.jquery,
                admin = layui.admin,
                layer = layui.layer;
            //自定义验证规则
            form.verify({
                nikename: function (value) {
                    if (value.length < 5) {
                        return '昵称至少得5个字符啊';
                    }
                }
            });
            //页面初始化加载
            $(function () {
                setTimeout(function () {
                    frameVal();
                }, 100);
            });

            function frameVal() {
                var dataId = $('input[name="dataId"]').val();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layui.jquery("#memberList tr").each(function () {
                    if ($(this).attr('data-id') == dataId) {
                        console.log($(this));
                        var tdArr = $(this).children('td');
                        var username = tdArr.eq(2).text(); //姓名
                        var sex = tdArr.eq(3).text(); //性别
                        var phone = tdArr.eq(4).text(); //电话
                        var email = tdArr.eq(5).text(); //邮箱
                        var address = tdArr.eq(6).text(); //地址
                        $('input[name="username"]').val(username);
                        console.log("sex:" + sex);
                        $('input[name="sex"][value="' + sex + '"]').attr("checked", true);
                        $('input[name="phone"]').val(phone);
                        $('input[name="email"]').val(email);
                        $('input[name="address"]').val(address);
                        form.render();
                    }
                });
            }

            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("增加成功", {
                    icon: 6
                }, function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
            });
        });
