extends ../layout

block css
    link(rel='stylesheet', href='/css/font.css')
    link(rel='stylesheet', href='/css/weadmin.css')

block content
    .weadmin-body
        form.layui-form
            .layui-form-item
                label.layui-form-label(for='L_username')
                    | 昵称
                .layui-input-inline
                    input#L_username.layui-input(type='text', name='username', disabled='', value='小明')
            .layui-form-item
                label.layui-form-label(for='L_repass')
                    span.we-red *
                    | 旧密码
                .layui-input-inline
                    input#L_pass.layui-input(type='password', name='oldpass', required='', lay-verify='required', autocomplete='off')
            .layui-form-item
                label.layui-form-label(for='L_pass')
                    span.we-red *
                    | 新密码
                .layui-input-inline
                    input#L_pass1.layui-input(type='password', name='newpass', required='', lay-verify='required', autocomplete='off')
                .layui-form-mid.layui-word-aux
                    | 6到16个字符
            .layui-form-item
                label.layui-form-label(for='L_repass')
                    span.we-red *
                    | 确认密码
                .layui-input-inline
                    input#L_repass2.layui-input(type='password', name='repass', required='', lay-verify='required', autocomplete='off')
            .layui-form-item
                label.layui-form-label(for='L_repass')
                button.layui-btn(lay-filter='save', lay-submit='') 确定

block js
    script(src='../../lib/layui/layui.js', charset='utf-8')
    script.
        layui.extend({
            admin: '{/}../../static/js/admin'
        });
        layui.use(['form', 'admin', 'layer'], function () {
            var form = layui.form,
                admin = layui.admin,
                layer = layui.layer;
            //监听提交
            form.on('submit(save)', function (data) {
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("修改成功", {
                    icon: 6
                }, function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
            });
        });
